.navbar{
    display: flex;
    padding: 8px;
    justify-content: center;
    background-color: #21062a;
}

.navbar_container{
    width: 1280px;
    display: flex;
    justify-content: space-between;
}

.navbar_nav{
    
}
.navbar_logo{
    color: rgb(255, 0, 0);
    font-size: 44px;
    cursor: pointer;
}

.navbar_ul{
    display: flex;
}

.navbar_li{
    margin: 0 8px;
    cursor: pointer;
    border: none;
    color: rgb(26, 26, 26);
    border-radius: 3px;
    color: white
}
.navbar_li_text{
    padding: 6px 38px;
}
